.navbar {
  background-color: #fff;
  padding: 1rem;
  height: 60px;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.navbar a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  text-decoration: underline;
}
