.navbar {
  background-color: #fff;
  padding: 1rem;
  height: 60px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  z-index: 1000;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.navbar ul li a {
  color: #424F71;
  text-decoration: none;
  font-weight: bold;
}

/* Hover effects for the navbar links */
.navbar ul li a:hover {
  color: #FF7900;
}

/* Animation on hover */
@keyframes hoverEffect {
  0% {
    transform: scale(1);
    color: #424F71;
  }
  100% {
    transform: scale(1.1);
    color: #FF7900;
  }
}

.navbar ul li a:hover {
  animation: hoverEffect .5s forwards;
}
